body {
    padding-top: 70px;
    margin: 0;
   background-image: url(./ui.jpg);
    height: auto;
  }
  
  a.logo {
    font-size: 2.5em;
    font-family: 'Dancing Script', cursive;
  }
  
  form#searchForm {
    width: 100%;
    height: 100px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  input#searchText {
    width: 60%;
    padding: 15px;
    border-radius: 30px;
  }
  
  button#searchBtn {
    position: relative;
    right: 50px;
    background: inherit;
    border: none;
  }
  
  .searchIcon {
    font-size: 1.5em;
    font-weight: 400;
  }
  
  @media (max-width: 979px) {
    body {
      padding-top: 0px;
    }
  }
  .navbar{
    background-color: #08514fb9 ;
  }
  .navbar-brand{
    color: white;
  }
  
  .navbar-nav li a{
    color: white;
  }
  
  .main-area{
    display: flex;
    height: 80vh;
  }
  
  #searchBar{
    margin-top: 20vh;
  }
  
  .container1{
  height: 90%;
  width: 90%;
  margin: 40px;
  padding: 30px;
  text-align: center;
  color:white;
  }
  
  .container-fluid{
  height: 90%;
  width: 90%;
  margin-top: 40px;
  padding: 30px;
  border-radius: 40px;
  background:  #e6e7ee; 
  box-shadow: 3px 3px 6px #b8b9be,-3px -3px 6px #fff;
  }
  
  .card{
  border-radius: 20px;
  /* box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff; */
  background-color: #000000;
  margin-top: 20px;
  /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
  }
  
  .card-img, .card-img-top{
  border-radius: 20px;
  }
  
  .card-img-top {
      width: 100%;
      height: 280px;
      object-fit: cover;
  }
  #searchForm{
    margin-top:50px;
  }
  
  .hidden{
    display: none;
  }
  
  #searchResult{
    margin: 20px;
    padding: 20px
  }
  
  #sec-ul li{
    display: inline;
    margin-right: 30px;
  }
  #sec-ul li a{
    color: #fff;
  }
  
  #sec-ul li a:hover{
    background-color: #007bff;
    border-radius: 30px;
    padding: 5px 20px;
  }
  
  .active-b{
    background-color: #007bff;
    border-radius: 30px;
    padding: 5px 20px;
  }
  
  table{
    margin-top: 35px;
  }
  
  td, th{
    border: 1px solid white;
    color: #b3b3b3;
  }
  
  #sec-info{
    margin-top:50px;
  }
  
.text-center {
    text-align: center;
}